*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-ber{
       display: flex;
       justify-content: space-around;
       align-items: center;
       width: 1600px;
       height: 92px;
       padding: 16px 120px 16px 120px;
       background-color:#FFFFFF ;
}
.list{
   display: flex;
   justify-content: space-between;
   width: 365px;
   height: 24px;
   gap: 32px;
   list-style: none;
}
.btn-1{
   width: 164px;
   height: 44px;
   border-radius: 4px;
   padding: 12px 16px 12px 16px;
   background-color:#469165 ;
   font-size: 16px;
   color: #FFFFFF;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;

}
.btn-1:hover{
   cursor:grab;
}
.banner{
   background-image: url('./assets/hero-bg.png');
   background-size: cover;
   height: 674px;
   width: 1600px;
   padding: 70px 120px 134px 120px;
   gap: 40px;
}
.banner-1{
 width: 1360px;
 height: 379px;
 gap:32px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.banner-2{
   width: 1360px;
   height: 295px;
   gap: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.Live{
   width: 229px;
   height: 35px;
   gap: 6px;
   border-radius: 1000px;
   background-color: #FFFFFF;
   color: #30B868;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:12px 8px ;

}
.topic{
   width: 770px;
   height: 168px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   
}
.prg{
   width: 1360px;
   height: 60px;
   font-size: 18px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
   line-height: 24px;
}
.banner-3{
   width: 465px;
   height: 52px;
   gap: 16px;
   display: flex;

}
.btn-2{
   width: 251px;
   height: 52px;
   gap: 10px;
   background-color: #30b868 ;
   color: #FFFFFF;
   padding: 16px 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 4px;
}
.btn-2:hover{
   cursor:grab;
}
.btn-3{
width: 198px;
height: 52px;
gap: 10px;
padding: 12px 16px;
display: flex;
justify-content: center;
align-items: center;
background: none;
border-color: #FFFFFF;
color: #FFFFFF;
border-radius: 4px;
}
.btn-3:hover{
   cursor:grab;
}
.card-con{
   width: 1600px;
   height: 448px;
   padding-bottom: 120px;
   padding-left: 120px;
   padding-right: 120px;
   gap: 44px;
   box-sizing: border-box;
}
.card-con1{
   width: 1360;
   height: 152px;
   gap: 16px;
}
.card-con2{
   width: 1360px;
   height: 116px;
   font-size: 48px;
   font-weight: bold;
   display: flex;
   align-items: end;
   justify-content: center;
   padding-bottom: 0px;
}
.card-con3{
   width: 1360px;
   height: 20px;
   font-size: 16px;
   font-weight: 400px;
   line-height: 20px;
   color: #627382;
   display: flex;
   align-items: center;
   justify-content: center;
}
.card{
   width: 1360px;
   height: 300px;
   gap: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   }
.card-1{
   width: 322px;
   height: 300px;
   border-radius: 8px;
   padding: 24px;
   gap: 16px;
   box-shadow: 0px 0px 8px 0px #00000016;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.pic1{
   height: 60px;
   width: 60px;
    border-radius: 100%;
   background-color: red;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pic2{
   font-size: 24px;
   font-weight: 600px;
   text-align: center;
}
.pic3{
   font-weight: 400px;
   font-size: 16px;
   line-height: 20px;
   color: #627382;
  text-align: center;
}
.hero-container{
   width: 1600px;
   height: 840px;
   padding: 120px;
}
.hero-container1{
   width: 1360px;
   height: 600px;
   gap: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container2{
   width: 600px;
   height: 600px;
   border-radius: 12px;
}
.hero-container3{
   width: 700px;
   height: 396px;
   gap: 40px;
   box-sizing: border-box;
}
.hero1{
   width: 700px;
   height: 228px;
   gap: 16px;
}
.hero2{
   height: 20px;
   width: 700px;
   font-size: 16px;
   font-weight: 500px;
   line-height: 20px;
   color: #30B868;
}
.hero3{
   width: 700px;
   height: 116px;
   font-size: 48px;
   font-style: bold;
   font-weight: 700px;
   color:#001931 ;
}
.hero4{
   width: 700px;
   height: 60px;
   font-weight: 400px;
   font-size: 16px;
   line-height: 20px;
   color: #627382;
}
.hero-5{
   width: 700px;
   height: 128px;
   gap: 16px;
   display: flex;
   flex-direction: column;
}
.hero6{
   width: 700px;
   height: 20px;
   gap: 6px;
   display: flex;
}
.semi-footer{
   width: 1600px;
   height: 506px;
   padding: 2px 120px 120px 120px;
   gap: 40px;
}
.semi-footer1{
width: 1360px;
height: 384px;
border-radius: 12px;
padding: 80px 40px 80px 40px;
gap: 24px;
background-color: #F7F6F2 ;
display: flex;
flex-direction: column;
}
.semi-footer2{
   width: 1280px;
   height: 112px;
   gap: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.semi-footer2-1{
   width: 1280;
   height: 48px;
   font-size: 40px;
   font-weight: 700px;
   font-style: bold;
   color: #001931;
   display: flex;
   justify-content: center;
}
.semi-footer2-2{
   width: 1280px;
   height: 48px;
  font-weight: 400px;
    font-size: 16px;
   line-height: 24px;
   color: #627382;
   display: flex;
   justify-content: center;
   text-align: center;
}
.semi-footer3{
 width: 1280px;
 height: 88px;
 gap: 16px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.btn-4{
   width: 194px;
   height: 52px;
   border-radius: 4px;
   padding: 12px 16px;
   gap: 10px;
   background-color: #30B868;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
}
.btn-4:hover{
   cursor:grab;
}
.semi-footer3-1{
   width: 1280px;
   height: 20px;
   font-weight: 400px;
   font-size: 16px;
   line-height: 20px;
   color: #627382;display: flex;
   justify-content: center;
   align-items: center;
}
.footer{
   width: 1600px;
   height: 348px;
   border-top: 1px;
   padding: 120px 120px 30px 120px;
   gap: 80px;
   background-color: #001931;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.footer1{
   width: 1360px;
   height: 64px;
   display: flex;
   justify-content: space-between;

}
.footer2{
   height: 64px;
   width: 220px;
   gap: 16px;
   display: flex;
   flex-direction: column;
}
.footer3{
   width: 113px;
   height: 28px;
   font-size: 20px;
   font-weight: 500px;
   line-height: 28px;
   color: #FFFFFF;
}
.footer4{
width: 92px;
height: 20px;
gap: 16px;
display: flex;
}
.footer5{
   width: 1360px;
   height: 54px;
   padding-top: 30px;
   display: flex;
   border-top: 1px solid #E5E7EB;
   color: #FAFAFA;
   justify-content: center;
}